* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.containerList {
  width: 280px;
  height: 750px;
  border-radius: 40px;
  border: 0px solid #000;
  background: rgba(135, 135, 135, 0.13);
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
  margin: 5rem auto;

}

.item {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  

}

#image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 8px;

}
  /* Adicionando uma media query para ajustar estilos em telas menores */
@media screen and (max-width: 768px) {
  .containerList {
    margin: 2rem auto;
  }

  .item {
    padding-left: 1rem;
  }

  #image {
    width: 20%; /* Ajustando o tamanho da imagem para telas menores */
  }
}